package ca.wise.settings;

public class BuildConfig {

	/**
	 * The W.I.S.E. Manager version.
	 */
	public static final String version = "@buildversion@";
	
	/**
	 * The time that W.I.S.E. Manager was last packaged at.
	 */
	public static final String buildTime = "@buildtime@";
	
	/**
	 * Is the application running in a debug configuration.
	 */
	public static final boolean debug = @debug@;
}
